  .macbook-wrapper{
    background: #fafafa;
    padding: 25px 0;
    text-align: center;
}
.model-wrapper{
    
    margin-top: 20px;
    font-size: 0.85em;
}
.product-title{
    
    margin-top: 10px;
    font-size: 40px;
    
}
.device-description{
    
    font-size: 2.5em;
    font-weight: 400;
    /* padding-bottom: 10px; */
}